/*
COLOR SCHEME
*/
:root {
    --bg-color: #457B9D;
    --bg-shadow: #1D3557;
    --border-color: #384247;
    --body-color: #4b6b7c;
    --button-color: #9db4c0;
    --display-color: #e0fbfc;
    --text-color: #49D49D;
}

/*
CALCULATOR BODY
*/

* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

body h1 {
    color: var(--display-color);
    padding: 1vw 0 1vw 0;
}

#calculator-body, #display {
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

#calculator-body {
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
    box-shadow: 10px 10px 5px var(--bg-shadow);
}

#display, .button {
    text-shadow: 2px 2px 2px grey;
}

#display {
    box-sizing: border-box;
    height: 8vmin;
    width: 48vmin;
    background-color: var(--display-color);
    text-align: right;
    padding: 1vw;
    margin: 2vw 2vw 0 2vw;
    overflow-y: hidden;
    overflow-x: scroll;
}

#display-calculation {
    font-size: 5vmin;
    margin: 0;
}

/*
BUTTON PAD
*/
#button-pad {
    margin: 2vw;
    display: flex;
}

#operator-keys {
    display: flex;
    flex-direction: column;
}

#aux-keys, .row {
    display: flex;
}

.button {
    box-sizing: border-box;
    font-size: 5vmin;
    height: 10vmin;
    width: 12vmin;
    background-color: var(--button-color);
}

#key-0 {
    width: 24vmin;
}